package layouts

templ Default(titulo string) {
	<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			@head("Olarrrrrrrrr")
		</head>
		<body class="container">
			<header class="main">
				@navbar(titulo)
			</header>
			<main>
				{ children... }
			</main>
		</body>
	</html>
}

templ head(titulo string) {
	<meta charset="UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<script src="https://unpkg.com/htmx.org@1.9.10"></script>
	<script src="/index.js"></script>
	<link rel="stylesheet" href="/style.css"/>
	<script src="//unpkg.com/alpinejs" defer></script>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
	<script src="https://unpkg.com/htmx.org@1.9.12/dist/ext/sse.js"></script>
	<style>
        article.produto > header {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
      }

      .btn-close-form-produto {
        display: flex;
        flex-flow: row-reverse nowrap;
      }
      </style>
	<title>{ titulo }</title>
}

templ navbar(titulo string) {
	<div x-data>
		<nav hx-boost="true" class="navbar">
			<div
				class="navbar__burger"
				id="burger"
				@click="$refs.navLinks.classList.toggle('navbar__links--active')"
			>
				<i class="material-icons">menu</i>
			</div>
			<a href="/" class="navbar__home">Home</a>
			<h1 class="navbar__title">{ titulo }</h1>
			<div class="navbar__links" id="nav-links" x-ref="navLinks">
				<a href="/produtos/page" class="navbar__link">Produtos</a>
				<a href="/pokemons/page" class="navbar__link">Pokemons</a>
				<a href="/tempo/page" class="navbar__link">Tempo em Ita</a>
				<a href="/sobre/page" class="navbar__link">Sobre</a>
			</div>
		</nav>
	</div>
}
