package components

templ Header(titulo string) {
	<header hx-boost="true">
		<nav class="navbar" aria-label="main navigation">
			<div class="navbar-menu">
				<div class="navbar-start">
					<a href="/" class="navbar-item">Home</a>
				</div>
				<h1 class="title">{ titulo }</h1>
				<div class="navbar-end">
					<a href="/produtos/page" class="navbar-item">Produtos</a>
					<a href="/pokemons/page" class="navbar-item">Pokemons</a>
					<a href="/tempo" class="navbar-item">Tempo</a>
					<a href="/sobre" class="navbar-item">Sobre</a>
				</div>
			</div>
		</nav>
	</header>
}
