package components

import (
	"fmt"
	"hate/models"
)

templ PokemonsId(pokemon models.Poke) {
	<div class="pokemon-card">
		<div class="pokemon-card__header">
			<img
				src={ pokemon.FotoUrl }
				alt={ pokemon.Nome }
				class="pokemon-card__header-image"
			/>
			<h1 class="pokemon-card__header-title">{ pokemon.Nome }</h1>
			<audio class="pokemon-card__header-audio" controls>
				<source src={ pokemon.ChoroUrl } type="audio/ogg"/>
				<i class="material-icons">
					volume-high 
				</i>
			</audio>
		</div>
		<div class="pokemon-card__body">
			<p class="pokemon-card__body-description">
				{ pokemon.Caracteristica }
			</p>
		</div>
		<div class="pokemon-card__footer">
			<button
				class="pokemon-card__footer-button"
				hx-delete={ string(templ.URL(fmt.Sprintf("/pokemons/%v", pokemon.Numero))) }
				hx-target="closest .pokemon-card"
				hx-swap="outerHTML"
			>
				<i class="material-icons">
					delete 
				</i>
			</button>
		</div>
	</div>
}
