package components

import (
	"fmt"
	"hate/models"
)

templ ProdutosFormId(produto models.Produto) {
	<div
		x-data="{
        fechaForm() {
            setTimeout(() => {
                this.$refs.nomeInput.value = ''
                this.$refs.descricaoInput.value = ''
                modalEstado = ''
            }, 100)
        }
    }"
	>
		<button class="button" x-on:click="fechaForm">
			<i class="material-icons">close </i>
		</button>
		<form
			hx-put={ string(templ.URL(fmt.Sprintf("/produtos/%v", produto.ID))) }
			hx-target={ fmt.Sprintf("#produto-%v", produto.ID) }
			hx-swap="outerHTML"
			hx-trigger="submit"
			x-on:submit="fechaForm();"
			class="has-background-primary-00"
		>
			<div class="field">
				<label for="nome" class="label">Nome</label>
				<div class="control">
					<input type="text" class="input" name="nome" x-ref="nomeInput" value={ produto.Nome }/>
				</div>
			</div>
			<div class="field">
				<label for="descricao" class="label">Descrição</label>
				<div class="control">
					<input type="text" class="input" name="descricao" x-ref="descricaoInput" value={ produto.Descricao }/>
				</div>
			</div>
			<div class="field is-grouped">
				<div class="control">
					<input type="submit" class="input button is-link" value="Atualiza"/>
				</div>
				<div class="control">
					<input type="reset" class="input button is-link is-light" value="Limpa"/>
				</div>
			</div>
		</form>
	</div>
}
