<article class="produto" id={fmt.Sprintf("produto-%v",produto.ID)}>
  <header>
    <h3 
      x-ref={fmt.Sprintf("produto-nome-%v", produto.ID)}
    >{ produto.Nome }</h3>
    <i class="material-icons" 
    hx-delete={ string(templ.URL(fmt.Sprintf("/produtos/deleta/%d", produto.ID))) } 
    hx-select="#listofprodutos"
    hx-target="#listofprodutos" 
    hx-trigger="click"> delete </i>
    <i class="material-icons" 
      x-on:click={fmt.Sprintf("abreEdicao(%v)", produto.ID)}
    > edit </i>
  </header>
  <section>
    <p x-ref={fmt.Sprintf("produto-descricao-%v", produto.ID)}>{ produto.Descricao }</p>
  </section>
</article>