package pages

import (
	"hate/models"
	"hate/views/components"
	"hate/views/layouts"
)

templ PokemonsPage(pokemons []models.Poke) {
	@layouts.Default("Pokemons") {
		<div
			x-data
			x-init="$el.addEventListener('htmx:responseError', (event) => {
				alert(event.detail.xhr.responseText)
			})"
		>
			<form
				class="search-form"
				hx-post="/pokemons"
				hx-target="#pokemons"
				hx-swap="afterbegin"
			>
				<input
					type="text"
					class="search-form__input"
					placeholder="Busca Pokémon..."
					name="nomePokemon"
				/>
				<button type="submit" class="search-form__button">Procurar</button>
			</form>
			<div id="pokemons" class="pokemon-list">
				@components.Pokemons(pokemons)
			</div>
		</div>
	}
}
