package pages

import (
	"hate/models"
	"hate/views/components"
	"hate/views/layouts"
)

templ ProdutosPage(produtos []models.Produto) {
	@layouts.Default("Produtos") {
		<div x-data>
			<h2>Aqui está a página de produtos</h2>
			<button
				hx-get="/produtos/form"
				hx-target="#produtos-form"
				@click="$refs.popup.showModal()"
			>
				Adiciona
			</button>
			<div id="produtos" @abre-form="$refs.popup.showModal()">
				@components.Produtos(produtos)
			</div>
			<dialog
				x-ref="popup"
				@abre-form="$el.showModal()"
				@fecha-form="setTimeout(()=>{ $el.close() }, 100)"
			>
				<div id="produtos-form"></div>
			</dialog>
		</div>
	}
}
